<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%- include('partials/head') %>
    <title><%= title %></title>
</head>
<body>
    <%- include('partials/navigation.ejs') %>
    <div class="titulo3 mx-auto text-center">
        <h6 class="projects" id="contact">Get In Touch</h6>
        <h1 class="fw-bolder">Contact Me</h1>
      </div>
  
      <div class="contactota card mb-5 mx-auto mt-4 rounded-4">
        <div class="card-body">
          <div class="container">
            <div class="row justify-content-center text-center">
              <div class="col-md-9 col-sm-9 col-9">
                <div class="d-flex align-items-center justify-content-center">
                  <a href="https://mail.google.com/mail/u/0/?pli=1#inbox"><i class="fa-solid fa-envelope fa-lg" style="color: #000000;"></i></a>
                  <a href="https://mail.google.com/mail/u/0/?pli=1#inbox" class="ms-1" style="text-decoration: none; color: #000000;">scalante2002@gmail.com</a>
                </div>
              </div>
      
              <div class="col-md-3 col-sm-9 col-9">
                <div class="d-flex align-items-center justify-content-center">
                  <a href="https://www.linkedin.com/in/fabian-scalante-claros-0ab6122a1/"><i class="fa-brands fa-linkedin fa-lg" style="color: #000000;"></i></a>
                  <a href="https://www.linkedin.com/in/fabian-scalante-claros-0ab6122a1/" class="ms-1" style="text-decoration: none; color: #000000;">Linkedin</a>
                </div>
              </div>
<!--red social facebook-->
              <div class="col-md-3 col-sm-9 col-9">
                <div class="d-flex align-items-center justify-content-center">
                  <a href="https://www.facebook.com/fhavian.claros?mibextid=LQQJ4d"><i class="fa-brands fa-facebook fa-lg" style="color: #000000;"></i></a>
                  <a href="https://www.facebook.com/fhavian.claros?mibextid=LQQJ4d" class="ms-1" style="text-decoration: none; color: #000000;">Facebook</a>
                </div>
              </div>
              <!--red social instagram-->

              <div class="col-md-3 col-sm-9 col-9">
                <div class="d-flex align-items-center justify-content-center">
                  <a href="https://www.instagram.com/fabian_scalante/"><i class="fa-brands fa-instagram fa-lg" style="color: #000000;"></i></a>
                  <a href="https://www.instagram.com/fabian_scalante/" class="ms-1" style="text-decoration: none; color: #000000;">Instragram</a>
                </div>
              </div>
              <!--numero de telefono-->
              <div class="col-md-3 col-sm-9 col-9">
                <div class="d-flex align-items-center justify-content-center">
                  <a href="https://www.instagram.com/fabian_scalante/"><i class="fa-solid fa-phone fa-lg" style="color: #000000;"></i></a>
                  <a href="https://www.instagram.com/fabian_scalante/" class="ms-1" style="text-decoration: none; color: #000000;">321-460-0648</a>
                </div>
              </div>
      
            </div>
          </div>
        </div>
      </div>
    <%- include('partials/footer.ejs') %>
</body>
</html>