<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <%- include('partials/head') %>
    <title><%= title %></title>
</head>
<body>
  <%- include('partials/navigation.ejs') %>

<!--Inicio experiencia-->
<div class="titulo mx-auto text-center">
    <h6 id="experience">Explore My</h6>
    <h1 class="fw-bolder">Experience</h1>
  </div>
  
  <div class="container mt-5">
    <div class="row">
  
      <div class="centradot col-md-6 mb-4">
        <div class="card tarjetas ">
          <div class="card-body">
            <h5 class="card-title fw-bolder text-center">Frontend Development</h5>
            <div class="card-text mx-auto text-center justify-content-center mt-4">
              <div class="container">
                <div class="row row-cols-4">
  
                  <div class="col-md-1 col-sm-1 col-1">
                    <i class="fa-solid fa-circle-check fa-sm mb-4" style="color: #000000;"></i><br>
                    <i class="fa-solid fa-circle-check fa-sm pt-5" style="color: #000000;"></i>
                  </div>

                  <div class="col-md-5 col-sm-5 col-5 text-md-start">                    
                      <div class="text-start mb-4"><span><b>HTML</b> <br>Experienced</span></div>
                      <div class="text-start"><span><b>CSS</b> <br></span><p>Experienced</p></div>                  
                  </div>

                  <div class="col-md-1 col-sm-1 col-1">
                    <i class="fa-solid fa-circle-check fa-sm mb-4" style="color: #000000;"></i><br>
                    <i class="fa-solid fa-circle-check fa-sm pt-5" style="color: #000000;"></i>
                  </div>

                  <div class="col-md-5 col-sm-5 col-5 text-md-start">                    
                      <div class="text-start mb-4"><span><b>JavaScript</b> <br>Intermediate</span></div>
                      <div class="text-start"><span><b>Bootstrap</b> <br></span><p>Intermediate</p></div>                  
                  </div>
  
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
  
      <div class="col-md-6 mb-4">

        <div class="card tarjetas">
          <div class="card-body">
            <h5 class="card-title fw-bolder text-center">Backend Development</h5>
            <div class="text-center card-text mt-4">
              <div class="container">
                <div class="row row-cols-4">
  
                  <div class="col-md-1 col-sm-1 col-1">
                    <i class="fa-solid fa-circle-check fa-sm mb-4" style="color: #000000;"></i><br>
                    <i class="fa-solid fa-circle-check fa-sm pt-5" style="color: #000000;"></i>
                  </div>

                  <div class="col-md-5 col-sm-5 col-5 text-md-start">                    
                      <div class="text-start mb-4"><span><b>PHP</b> <br>Intermediate</span></div>
                      <div class="text-start"><span><b>Git</b> <br></span><p>Intermediate</p></div>                  
                  </div>

                  <div class="col-md-1 col-sm-1 col-1">
                    <i class="fa-solid fa-circle-check fa-sm mb-4" style="color: #000000;"></i><br>
                    <i class="fa-solid fa-circle-check fa-sm pt-5" style="color: #000000;"></i>
                  </div>

                  <div class="col-md-5 col-sm-5 col-5 text-md-start">                    
                      <div class="text-start mb-4"><span><b>MySQL</b> <br>Intermediate</span></div>
                      <div class="text-start"><span><b>Python</b> <br></span><p>Basic</p></div>                  
                  </div>

  
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
  
    </div>
  </div>
  
  <!--Fin experiencia-->
  <%- include('partials/footer.ejs') %>
</body>
</html>