<div class="card text-center bg-dark  text-bg-primary ">
    <div class="card-body">
      <a href="https://www.facebook.com/fhavian.claros?mibextid=LQQJ4d" class="btn "><i class="fa-brands fa-facebook fa-2xl pb-5" style="color: #008f64;"></i></a>
      <a href="https://github.com/jfscalante" class="btn "><i class="fa-brands fa-github fa-2xl pb-5" style="color: #008f64;"></i></a>
      <a href="https://wa.me/573214600648?text=Hola%2C+me+gustaria+que+me+enviaras+el+catalogo" class="btn "><i class="fa-brands fa-whatsapp fa-2xl pb-5" style="color: #008f64;"></i></a>
      <p class="card-text">© Todos los derechos reservados, Fabian scalante</p>
  </div>

</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>